<%= form_with(model: fighter, local: true) do |form| %>
  <div class="row">
    <div class="form-group col">
      <%= form.label :name %>
      <%= form.text_field :name, placeholder: true, class: "form-control" %>
    </div>

    <div class="form-group col">
      <%= form.label :health_points %>
      <%= form.number_field :health_points, placeholder: true, class: "form-control" %>
    </div>
    <div class="form-group col">
      <%= form.label :attack_strength %>
      <%= form.number_field :attack_strength, placeholder: true, class: "form-control" %>
    </div>
    <div class="form-group col">
      <%= form.label :avatar %>
      <%= form.file_field :avatar, direct_upload: true %>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col text-center" >
      <%= form.submit class: 'btn btn-secondary btn-lg' %>
    </div>
  </div>
<% end %>
