<p id="notice"><%= notice %></p>

<h1>Combattants</h1>

<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Nombre de points de vie</th>
      <th>Force d'attaque</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fighters.each do |fighter| %>
      <tr>
        <td><%= fighter.name %></td>
        <td><%= fighter.health_points %></td>
        <td><%= fighter.attack_strength %></td>
        <td><%= link_to 'Statistiques', fighter, class: "badge badge-info" %></td>
        <td><%= link_to 'Editer', edit_fighter_path(fighter), class: "badge badge-warning" %></td>
        <td><%= link_to 'Supprimer', fighter, method: :delete, data: { confirm: 'Are you sure?' }, class: "badge badge-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<!--
<%#= link_to 'New Fighter', new_fighter_path %>
-->
