<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @fighter.name %>
</p>

<p>
  <strong>Health points:</strong>
  <%= @fighter.health_points %>
</p>

<p>
  <strong>Attack strength:</strong>
  <%= @fighter.attack_strength %>
</p>

<%= link_to 'Edit', edit_fighter_path(@fighter) %> |
<%= link_to 'Back', fighters_path %>
